Connected Services/GameService/GameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.217.207:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:complexType name="OperationResultListOfPlayersInGame">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" base="q1:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="GuestAccountDtos" nillable="true" type="q1:ArrayOfGuestAccountDto" />
          <xs:element minOccurs="0" name="ProfileDtos" nillable="true" type="q1:ArrayOfProfileDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultListOfPlayersInGame" nillable="true" type="tns:OperationResultListOfPlayersInGame" />
</xs:schema>