Connected Services/GameService/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" />
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" />
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.PlayersMove" />
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" />
  <xs:import schemaLocation="http://localhost:8191/GameService?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Resources" />
  <xs:element name="CreateGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q1:GameDto" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q2:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="CreateGameResult" nillable="true" type="q3:OperationResultGameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q4:GameDto" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q5:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="QuitGameResult" nillable="true" type="q6:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGameAsaGuestAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q7:GameDto" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="guestAccountClientDto" nillable="true" type="q8:GuestAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGameAsaGuestAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="QuitGameAsaGuestAccountResult" nillable="true" type="q9:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeAccess" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q10:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="JoinGameResult" nillable="true" type="q11:OperationResultGameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameAsaGuest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accessKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="guestAccountClientDto" nillable="true" type="q12:GuestAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameAsaGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="JoinGameAsaGuestResult" nillable="true" type="q13:OperationResultGameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpelPlayerAsAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="expelPlayerDto" nillable="true" type="q14:ExpelPlayerDto" />
        <xs:element minOccurs="0" name="idAdmin" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q15:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpelPlayerAsAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExpelPlayerAsAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteExpelPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="expelPlayerDto" nillable="true" type="q16:ExpelPlayerDto" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q17:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoteExpelPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VoteExpelPlayerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q18:GameDto" />
        <xs:element minOccurs="0" name="preferredLanguage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersInGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" minOccurs="0" name="GetAllPlayersInGameResult" nillable="true" type="q19:OperationResultListOfPlayersInGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreGameWorld">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q20:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreGameWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="GetScoreGameWorldResult" nillable="true" type="q21:OperationResultListScoreGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreGameFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q22:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreGameFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="GetScoreGameFriendsResult" nillable="true" type="q23:OperationResultListScoreGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q24:PlayerGameplayDto" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q25:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnAync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q26:PlayerGameplayDto" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q27:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextTurnAyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NextTurnAyncResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowDice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q28:PlayerGameplayDto" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q29:GameDto" />
        <xs:element minOccurs="0" name="valueDice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThrowDiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGamePlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q30:PlayerGameplayDto" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q31:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitGamePlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlacePieceOnBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.PlayersMove" minOccurs="0" name="placementDto" nillable="true" type="q32:PiecePlacementDto" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q33:PlayerGameplayDto" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="gameClientDto" nillable="true" type="q34:GameDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlacePieceOnBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="PlacePieceOnBoardResult" nillable="true" type="q35:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerExpulsion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastMessageExpel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerExpeled" nillable="true" type="q36:PlayerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastNotifyNewAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAdmin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeToStartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeWhenJoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameForAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTurnStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playersTurnStatus" nillable="true" type="q37:ArrayOfPlayerTurnStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTurnTimeRemaining">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remainingTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDiceResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="diceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdateConnectedPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" minOccurs="0" name="listOfPlayers" nillable="true" type="q38:OperationResultListOfPlayersInGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGameDisconnectedPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListOfPlayersTurns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playersTurnStatus" nillable="true" type="q39:ArrayOfPlayerTurnStatusDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameBoardInitialized">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" minOccurs="0" name="gameBoardState" nillable="true" type="q40:GameBoardStateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerPlacedPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" minOccurs="0" name="gameBoardStateDto" nillable="true" type="q41:GameBoardStateDto" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" minOccurs="0" name="playerGameplayDto" nillable="true" type="q42:PlayerGameplayDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResourcesDistributed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Resources" minOccurs="0" name="receivedResources" nillable="true" type="q43:PlayerResourcesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>