Connected Services/GameService/GameService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:complexType name="ExpelPlayerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPlayerToExpel" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpelPlayerDto" nillable="true" type="tns:ExpelPlayerDto" />
  <xs:complexType name="PlayerGameplayDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentSession" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="isRegistered" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerGameplayDto" nillable="true" type="tns:PlayerGameplayDto" />
  <xs:complexType name="PlayerDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="guestAccountDto" nillable="true" type="q1:GuestAccountDto" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileDto" nillable="true" type="q2:ProfileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerDto" nillable="true" type="tns:PlayerDto" />
  <xs:complexType name="ArrayOfPlayerTurnStatusDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerTurnStatusDto" nillable="true" type="tns:PlayerTurnStatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerTurnStatusDto" nillable="true" type="tns:ArrayOfPlayerTurnStatusDto" />
  <xs:complexType name="PlayerTurnStatusDto">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="GuestAccountTurnDto" nillable="true" type="q3:GuestAccountDto" />
      <xs:element minOccurs="0" name="IsTurn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="ProfileTurnDto" nillable="true" type="q4:ProfileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerTurnStatusDto" nillable="true" type="tns:PlayerTurnStatusDto" />
</xs:schema>