Connected Services/GameService/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdAdminGame" type="xs:int" />
      <xs:element minOccurs="0" name="MaxNumberPlayers" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameDto" nillable="true" type="tns:GameDto" />
  <xs:complexType name="ProfileDto">
    <xs:sequence>
      <xs:element name="CurrentSessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsRegistered" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="PreferredLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileDto" nillable="true" type="tns:ProfileDto" />
  <xs:complexType name="OperationResultGameDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="GameDto" nillable="true" type="tns:GameDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultGameDto" nillable="true" type="tns:OperationResultGameDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="GuestAccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredLanguage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuestAccountDto" nillable="true" type="tns:GuestAccountDto" />
</xs:schema>