Connected Services/GameService/GameServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IGameEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameEndPoint_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGameAsaGuestAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameAsaGuestAccount" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGameAsaGuestAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameAsaGuestAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGameAsaGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsaGuest" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGameAsaGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsaGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_calloo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:calloo" />
  </wsdl:message>
  <wsdl:portType name="IGameEndPoint">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGame" message="tns:IGameEndPoint_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGameResponse" message="tns:IGameEndPoint_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGame" message="tns:IGameEndPoint_QuitGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameResponse" message="tns:IGameEndPoint_QuitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGameAsaGuestAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccount" message="tns:IGameEndPoint_QuitGameAsaGuestAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccountResponse" message="tns:IGameEndPoint_QuitGameAsaGuestAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGame" message="tns:IGameEndPoint_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameResponse" message="tns:IGameEndPoint_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/StartGame" message="tns:IGameEndPoint_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/StartGameResponse" message="tns:IGameEndPoint_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsaGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameAsaGuest" message="tns:IGameEndPoint_JoinGameAsaGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameAsaGuestResponse" message="tns:IGameEndPoint_JoinGameAsaGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calloo">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/calloo" message="tns:IGameEndPoint_calloo_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameEndPoint" type="tns:IGameEndPoint">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGameAsaGuestAccount">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsaGuest">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGameAsaGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calloo">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/calloo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IGameEndPoint" type="tns:IGameEndPoint">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IGameEndPoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGameAsaGuestAccount">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsaGuest">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGameAsaGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calloo">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/calloo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServiceEndpoint">
    <wsdl:port name="NetTcpBinding_IGameEndPoint" binding="tns:NetTcpBinding_IGameEndPoint">
      <soap12:address location="net.tcp://10.144.41.3:8192/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://10.144.41.3:8192/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IGameEndPoint" binding="tns:WSDualHttpBinding_IGameEndPoint">
      <soap12:address location="http://10.144.41.3:8191/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.144.41.3:8191/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>