Connected Services/GameService/GameServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.230.207:8191/GameService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.230.207:8191/GameService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.230.207:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameEndPoint_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_FinishGame_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_FinishGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameEndPoint">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGame" message="tns:IGameEndPoint_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGameResponse" message="tns:IGameEndPoint_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/FinishGame" message="tns:IGameEndPoint_FinishGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/FinishGameResponse" message="tns:IGameEndPoint_FinishGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGame" message="tns:IGameEndPoint_QuitGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameResponse" message="tns:IGameEndPoint_QuitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGame" message="tns:IGameEndPoint_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameResponse" message="tns:IGameEndPoint_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/StartGame" message="tns:IGameEndPoint_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/StartGameResponse" message="tns:IGameEndPoint_StartGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameEndPoint" type="tns:IGameEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateGame">
      <soap:operation soapAction="http://tempuri.org/IGameEndPoint/CreateGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishGame">
      <soap:operation soapAction="http://tempuri.org/IGameEndPoint/FinishGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <soap:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap:operation soapAction="http://tempuri.org/IGameEndPoint/StartGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServiceEndpoint">
    <wsdl:port name="BasicHttpBinding_IGameEndPoint" binding="tns:BasicHttpBinding_IGameEndPoint">
      <soap:address location="http://192.168.230.207:8191/GameService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>