Connected Services/GameService/GameService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" />
  <xs:complexType name="GameBoardStateDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" minOccurs="0" name="Edges" nillable="true" type="q1:ArrayOfEdgeDto" />
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" minOccurs="0" name="HexTiles" nillable="true" type="q2:ArrayOfHexTileDto" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" minOccurs="0" name="Vertices" nillable="true" type="q3:ArrayOfVertexDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoardStateDto" nillable="true" type="tns:GameBoardStateDto" />
</xs:schema>