Connected Services/GameService/GameServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.PlayerDtos" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.ResultDtos" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.PlayersMove" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" />
      <xsd:import schemaLocation="http://localhost:8191/GameService?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameEndPoint_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGameAsaGuestAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameAsaGuestAccount" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGameAsaGuestAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGameAsaGuestAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGameAsaGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsaGuest" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_JoinGameAsaGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinGameAsaGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_ExpelPlayerAsAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerAsAdmin" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_ExpelPlayerAsAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExpelPlayerAsAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_VoteExpelPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:VoteExpelPlayer" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_VoteExpelPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoteExpelPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetAllPlayersInGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersInGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetAllPlayersInGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersInGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetScoreGameWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreGameWorld" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetScoreGameWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreGameWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetScoreGameFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreGameFriends" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_GetScoreGameFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreGameFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_NextTurnAync_InputMessage">
    <wsdl:part name="parameters" element="tns:NextTurnAync" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_NextTurnAync_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextTurnAyncResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_ThrowDice_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowDice" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_ThrowDice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowDiceResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGamePlay_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitGamePlay" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_QuitGamePlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitGamePlayResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_PlacePieceOnBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:PlacePieceOnBoard" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_PlacePieceOnBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlacePieceOnBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_NotifyPlayerExpulsion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPlayerExpulsion" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_BroadcastMessageExpel_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastMessageExpel" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_BroadcastNotifyNewAdmin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastNotifyNewAdmin" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_UpdateTimeToStartGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeToStartGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_UpdateTimeWhenJoinGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeWhenJoinGame" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_StartGameForAllPlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartGameForAllPlayers" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_UpdateTurnStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTurnStatus" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_UpdateTurnTimeRemaining_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateTurnTimeRemaining" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_SendDiceResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendDiceResult" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_SendUpdateConnectedPlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendUpdateConnectedPlayers" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_EndGameDisconnectedPlayers_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EndGameDisconnectedPlayers" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_UpdateListOfPlayersTurns_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateListOfPlayersTurns" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_NotifyGameBoardInitialized_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyGameBoardInitialized" />
  </wsdl:message>
  <wsdl:message name="IGameEndPoint_NotifyPlayerPlacedPiece_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPlayerPlacedPiece" />
  </wsdl:message>
  <wsdl:portType name="IGameEndPoint">
    <wsdl:operation name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGame" message="tns:IGameEndPoint_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/CreateGameResponse" message="tns:IGameEndPoint_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGame" message="tns:IGameEndPoint_QuitGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameResponse" message="tns:IGameEndPoint_QuitGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGameAsaGuestAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccount" message="tns:IGameEndPoint_QuitGameAsaGuestAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccountResponse" message="tns:IGameEndPoint_QuitGameAsaGuestAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGame" message="tns:IGameEndPoint_JoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameResponse" message="tns:IGameEndPoint_JoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsaGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameAsaGuest" message="tns:IGameEndPoint_JoinGameAsaGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/JoinGameAsaGuestResponse" message="tns:IGameEndPoint_JoinGameAsaGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerAsAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/ExpelPlayerAsAdmin" message="tns:IGameEndPoint_ExpelPlayerAsAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/ExpelPlayerAsAdminResponse" message="tns:IGameEndPoint_ExpelPlayerAsAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoteExpelPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/VoteExpelPlayer" message="tns:IGameEndPoint_VoteExpelPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/VoteExpelPlayerResponse" message="tns:IGameEndPoint_VoteExpelPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayersInGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/GetAllPlayersInGame" message="tns:IGameEndPoint_GetAllPlayersInGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/GetAllPlayersInGameResponse" message="tns:IGameEndPoint_GetAllPlayersInGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/GetScoreGameWorld" message="tns:IGameEndPoint_GetScoreGameWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/GetScoreGameWorldResponse" message="tns:IGameEndPoint_GetScoreGameWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/GetScoreGameFriends" message="tns:IGameEndPoint_GetScoreGameFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/GetScoreGameFriendsResponse" message="tns:IGameEndPoint_GetScoreGameFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/StartGame" message="tns:IGameEndPoint_StartGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/StartGameResponse" message="tns:IGameEndPoint_StartGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextTurnAync">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/NextTurnAync" message="tns:IGameEndPoint_NextTurnAync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/NextTurnAyncResponse" message="tns:IGameEndPoint_NextTurnAync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowDice">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/ThrowDice" message="tns:IGameEndPoint_ThrowDice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/ThrowDiceResponse" message="tns:IGameEndPoint_ThrowDice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuitGamePlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGamePlay" message="tns:IGameEndPoint_QuitGamePlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/QuitGamePlayResponse" message="tns:IGameEndPoint_QuitGamePlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlacePieceOnBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameEndPoint/PlacePieceOnBoard" message="tns:IGameEndPoint_PlacePieceOnBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/PlacePieceOnBoardResponse" message="tns:IGameEndPoint_PlacePieceOnBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerExpulsion">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/NotifyPlayerExpulsion" message="tns:IGameEndPoint_NotifyPlayerExpulsion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessageExpel">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/BroadcastMessageExpel" message="tns:IGameEndPoint_BroadcastMessageExpel_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastNotifyNewAdmin">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/BroadcastNotifyNewAdmin" message="tns:IGameEndPoint_BroadcastNotifyNewAdmin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeToStartGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/UpdateTimeToStartGame" message="tns:IGameEndPoint_UpdateTimeToStartGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeWhenJoinGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/UpdateTimeWhenJoinGame" message="tns:IGameEndPoint_UpdateTimeWhenJoinGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGameForAllPlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/StartGameForAllPlayers" message="tns:IGameEndPoint_StartGameForAllPlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTurnStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/UpdateTurnStatus" message="tns:IGameEndPoint_UpdateTurnStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTurnTimeRemaining">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/UpdateTurnTimeRemaining" message="tns:IGameEndPoint_UpdateTurnTimeRemaining_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDiceResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/SendDiceResult" message="tns:IGameEndPoint_SendDiceResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendUpdateConnectedPlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/SendUpdateConnectedPlayers" message="tns:IGameEndPoint_SendUpdateConnectedPlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndGameDisconnectedPlayers">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/EndGameDisconnectedPlayers" message="tns:IGameEndPoint_EndGameDisconnectedPlayers_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateListOfPlayersTurns">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/UpdateListOfPlayersTurns" message="tns:IGameEndPoint_UpdateListOfPlayersTurns_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyGameBoardInitialized">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/NotifyGameBoardInitialized" message="tns:IGameEndPoint_NotifyGameBoardInitialized_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerPlacedPiece">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameEndPoint/NotifyPlayerPlacedPiece" message="tns:IGameEndPoint_NotifyPlayerPlacedPiece_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameEndPoint" type="tns:IGameEndPoint">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGameAsaGuestAccount">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGameAsaGuestAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGameAsaGuest">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/JoinGameAsaGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpelPlayerAsAdmin">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/ExpelPlayerAsAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoteExpelPlayer">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/VoteExpelPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayersInGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/GetAllPlayersInGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameWorld">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/GetScoreGameWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreGameFriends">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/GetScoreGameFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextTurnAync">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/NextTurnAync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThrowDice">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/ThrowDice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitGamePlay">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/QuitGamePlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlacePieceOnBoard">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/PlacePieceOnBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerExpulsion">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/NotifyPlayerExpulsion" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessageExpel">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/BroadcastMessageExpel" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastNotifyNewAdmin">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/BroadcastNotifyNewAdmin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeToStartGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/UpdateTimeToStartGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeWhenJoinGame">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/UpdateTimeWhenJoinGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGameForAllPlayers">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/StartGameForAllPlayers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTurnStatus">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/UpdateTurnStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTurnTimeRemaining">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/UpdateTurnTimeRemaining" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDiceResult">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/SendDiceResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUpdateConnectedPlayers">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/SendUpdateConnectedPlayers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EndGameDisconnectedPlayers">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/EndGameDisconnectedPlayers" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateListOfPlayersTurns">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/UpdateListOfPlayersTurns" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyGameBoardInitialized">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/NotifyGameBoardInitialized" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayerPlacedPiece">
      <soap12:operation soapAction="http://tempuri.org/IGameEndPoint/NotifyPlayerPlacedPiece" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServiceEndpoint">
    <wsdl:port name="NetTcpBinding_IGameEndPoint" binding="tns:NetTcpBinding_IGameEndPoint">
      <soap12:address location="net.tcp://localhost:8192/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8192/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>