Connected Services/GameService/GameService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.102:8191/GameService?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" />
  <xs:complexType name="GameBoardStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" minOccurs="0" name="HexTiles" nillable="true" type="q1:ArrayOfHexTileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBoardStateDto" nillable="true" type="tns:GameBoardStateDto" />
</xs:schema>