Connected Services/GameService/GameService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Resources" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Resources" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerResourcesDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlphaNanofibers" nillable="true" type="tns:ResourceDto" />
      <xs:element minOccurs="0" name="EpsilonBiomass" nillable="true" type="tns:ResourceDto" />
      <xs:element minOccurs="0" name="Grx810" nillable="true" type="tns:ResourceDto" />
      <xs:element minOccurs="0" name="LunarStone" nillable="true" type="tns:ResourceDto" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Tritonium" nillable="true" type="tns:ResourceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerResourcesDto" nillable="true" type="tns:PlayerResourcesDto" />
  <xs:complexType name="ResourceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceDto" nillable="true" type="tns:ResourceDto" />
</xs:schema>