Connected Services/GameService/GameService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.PlayersMove" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.PlayersMove" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PiecePlacementDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="PieceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetCol" type="xs:int" />
      <xs:element minOccurs="0" name="TargetEdgeId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetHexId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetRow" type="xs:int" />
      <xs:element minOccurs="0" name="TargetVertexId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PiecePlacementDto" nillable="true" type="tns:PiecePlacementDto" />
</xs:schema>