Connected Services/GameService/GameService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.GamePlayDto.Board" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.144.41.3:8191/GameService?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfHexTileDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HexTileDto" nillable="true" type="tns:HexTileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHexTileDto" nillable="true" type="tns:ArrayOfHexTileDto" />
  <xs:complexType name="HexTileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="DiceValue" type="xs:int" />
      <xs:element minOccurs="0" name="Edges" nillable="true" type="tns:ArrayOfEdgeDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="Vertices" nillable="true" type="tns:ArrayOfVertexDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HexTileDto" nillable="true" type="tns:HexTileDto" />
  <xs:complexType name="ArrayOfEdgeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EdgeDto" nillable="true" type="tns:EdgeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEdgeDto" nillable="true" type="tns:ArrayOfEdgeDto" />
  <xs:complexType name="EdgeDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConnectedHexes" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsOccupied" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnerPlayerId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EdgeDto" nillable="true" type="tns:EdgeDto" />
  <xs:complexType name="ArrayOfVertexDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VertexDto" nillable="true" type="tns:VertexDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVertexDto" nillable="true" type="tns:ArrayOfVertexDto" />
  <xs:complexType name="VertexDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsCity" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOccupied" type="xs:boolean" />
      <xs:element minOccurs="0" name="OwnerPlayerId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VertexDto" nillable="true" type="tns:VertexDto" />
</xs:schema>