Connected Services/ProfileService/ProfileServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileServiceEndpoint_ChangeProfileName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfileName" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_ChangeProfileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_UploadProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_UploadProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadProfilePictureResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileServiceEndpoint">
    <wsdl:operation name="ChangeProfileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileName" message="tns:IProfileServiceEndpoint_ChangeProfileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileNameResponse" message="tns:IProfileServiceEndpoint_ChangeProfileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePicture" message="tns:IProfileServiceEndpoint_UploadProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePictureResponse" message="tns:IProfileServiceEndpoint_UploadProfilePicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileServiceEndpoint" type="tns:IProfileServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeProfileName">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileServiceEndpoint">
    <wsdl:port name="BasicHttpBinding_IProfileServiceEndpoint" binding="tns:BasicHttpBinding_IProfileServiceEndpoint">
      <soap:address location="http://10.144.41.3:8383/ProfileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>