Connected Services/ProfileService/ProfileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.196.207:8384/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" />
  <xs:complexType name="ProfileDto">
    <xs:sequence>
      <xs:element name="CurrentSessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRegistered" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureVersion" type="xs:int" />
      <xs:element name="PreferredLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="isReadyToPlay" type="xs:boolean" />
      <xs:element minOccurs="0" name="votesReceived" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileDto" nillable="true" type="tns:ProfileDto" />
  <xs:complexType name="OperationResultProfileDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="AunthenticationStatus" type="q1:EnumAuthenticationStatus" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="ChangeAccountRegister" type="q2:EnumChangeAccountRegister" />
          <xs:element minOccurs="0" name="ProfileDto" nillable="true" type="tns:ProfileDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultProfileDto" nillable="true" type="tns:OperationResultProfileDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="OperationResultPictureDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultPictureDto" nillable="true" type="tns:OperationResultPictureDto" />
  <xs:complexType name="OperationResultProfileListDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProfileDtos" nillable="true" type="tns:ArrayOfProfileDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultProfileListDto" nillable="true" type="tns:OperationResultProfileListDto" />
  <xs:complexType name="ArrayOfProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileDto" nillable="true" type="tns:ProfileDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileDto" nillable="true" type="tns:ArrayOfProfileDto" />
</xs:schema>