Connected Services/ProfileService/ProfileServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
      <xsd:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileServiceEndpoint_ChangeProfileName_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfileName" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_ChangeProfileName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeProfileNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_UploadProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_UploadProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetProfilePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePicture" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetProfilePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilePictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetFriendsPicture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsPicture" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetFriendsPicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsPictureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_InviteFriendsToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendsToGame" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_InviteFriendsToGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteFriendsToGameResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsList" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetFriendsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsListResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetPendingFriendRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingFriendRequests" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_GetPendingFriendRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingFriendRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_RejectFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IProfileServiceEndpoint_RejectFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileServiceEndpoint">
    <wsdl:operation name="ChangeProfileName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileName" message="tns:IProfileServiceEndpoint_ChangeProfileName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileNameResponse" message="tns:IProfileServiceEndpoint_ChangeProfileName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePicture" message="tns:IProfileServiceEndpoint_UploadProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePictureResponse" message="tns:IProfileServiceEndpoint_UploadProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetProfilePicture" message="tns:IProfileServiceEndpoint_GetProfilePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetProfilePictureResponse" message="tns:IProfileServiceEndpoint_GetProfilePicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsPicture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetFriendsPicture" message="tns:IProfileServiceEndpoint_GetFriendsPicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetFriendsPictureResponse" message="tns:IProfileServiceEndpoint_GetFriendsPicture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteFriendsToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/InviteFriendsToGame" message="tns:IProfileServiceEndpoint_InviteFriendsToGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/InviteFriendsToGameResponse" message="tns:IProfileServiceEndpoint_InviteFriendsToGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetFriendsList" message="tns:IProfileServiceEndpoint_GetFriendsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetFriendsListResponse" message="tns:IProfileServiceEndpoint_GetFriendsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingFriendRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetPendingFriendRequests" message="tns:IProfileServiceEndpoint_GetPendingFriendRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/GetPendingFriendRequestsResponse" message="tns:IProfileServiceEndpoint_GetPendingFriendRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/SendFriendRequest" message="tns:IProfileServiceEndpoint_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/SendFriendRequestResponse" message="tns:IProfileServiceEndpoint_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/AcceptFriendRequest" message="tns:IProfileServiceEndpoint_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/AcceptFriendRequestResponse" message="tns:IProfileServiceEndpoint_AcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/RejectFriendRequest" message="tns:IProfileServiceEndpoint_RejectFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileServiceEndpoint/RejectFriendRequestResponse" message="tns:IProfileServiceEndpoint_RejectFriendRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileServiceEndpoint" type="tns:IProfileServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChangeProfileName">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/ChangeProfileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/UploadProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfilePicture">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/GetProfilePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsPicture">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/GetFriendsPicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteFriendsToGame">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/InviteFriendsToGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsList">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/GetFriendsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingFriendRequests">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/GetPendingFriendRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <soap:operation soapAction="http://tempuri.org/IProfileServiceEndpoint/RejectFriendRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileServiceEndpoint">
    <wsdl:port name="BasicHttpBinding_IProfileServiceEndpoint" binding="tns:BasicHttpBinding_IProfileServiceEndpoint">
      <soap:address location="http://10.144.41.3:8383/ProfileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>