Connected Services/ProfileService/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.144.41.3:8383/ProfileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:element name="ChangeProfileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q1:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProfileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="ChangeProfileNameResult" nillable="true" type="q2:OperationResultProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q3:ProfileDto" />
        <xs:element minOccurs="0" name="imageInBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadProfilePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="UploadProfilePictureResult" nillable="true" type="q4:OperationResultProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q5:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilePictureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="GetProfilePictureResult" nillable="true" type="q6:OperationResultPictureDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendsWithCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameFriendToInvite" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q7:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendsWithCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InviteFriendsWithCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>