Connected Services/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8182/AccountService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentSessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferredLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenExpiration" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="OperationResultCreateAccountDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProfileDto" nillable="true" type="tns:ProfileDto" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="status" type="q1:EnumCreateAccountStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultCreateAccountDto" nillable="true" type="tns:OperationResultCreateAccountDto" />
  <xs:complexType name="OperationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="MessageResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultDto" nillable="true" type="tns:OperationResultDto" />
  <xs:complexType name="ProfileDto">
    <xs:sequence>
      <xs:element name="CurrentSessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRegistered" type="xs:boolean" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PictureVersion" type="xs:int" />
      <xs:element name="PreferredLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePicture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="isReadyToPlay" type="xs:boolean" />
      <xs:element minOccurs="0" name="votesReceived" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileDto" nillable="true" type="tns:ProfileDto" />
  <xs:complexType name="OperationResultProfileDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="AunthenticationStatus" type="q2:EnumAuthenticationStatus" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="ChangeAccountRegister" type="q3:EnumChangeAccountRegister" />
          <xs:element minOccurs="0" name="ProfileDto" nillable="true" type="tns:ProfileDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultProfileDto" nillable="true" type="tns:OperationResultProfileDto" />
  <xs:complexType name="OperationResultChangeRegisterEmailOrPhone">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" minOccurs="0" name="StatusChangeAccountRegister" type="q4:EnumChangeAccountRegister" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultChangeRegisterEmailOrPhone" nillable="true" type="tns:OperationResultChangeRegisterEmailOrPhone" />
  <xs:complexType name="OperationResultAccountDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResultDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountDto" nillable="true" type="tns:AccountDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultAccountDto" nillable="true" type="tns:OperationResultAccountDto" />
</xs:schema>