Connected Services/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.102:8182/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q1:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:OperationResultCreateAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q3:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="VerifyAccountResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q5:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="LogInResult" nillable="true" type="q6:OperationResultProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendVerificationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailOrPhone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResendVerificationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResendVerificationCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q7:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="ChangePasswordResult" nillable="true" type="q8:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerificationCodeToChangeEmailOrPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q9:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerificationCodeToChangeEmailOrPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="SendVerificationCodeToChangeEmailOrPhoneResult" nillable="true" type="q10:OperationResultChangeRegisterEmailOrPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailOrPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q11:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmailOrPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="ChangeEmailOrPhoneResult" nillable="true" type="q12:OperationResultChangeRegisterEmailOrPhone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultAccounProfileInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="profileClientDto" nillable="true" type="q13:ProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultAccounProfileInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="ConsultAccounProfileInformationResult" nillable="true" type="q14:OperationResultAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerificationCodeToChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountClientDto" nillable="true" type="q15:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendVerificationCodeToChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="SendVerificationCodeToChangePasswordResult" nillable="true" type="q16:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedHelpProblemWithEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedHelpProblemWithEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NeedHelpProblemWithEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedHelpProblemWithPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NeedHelpProblemWithPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NeedHelpProblemWithPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeForgotPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeForgotPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeForgotPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>