Connected Services/AccountService/AccountServiceEndPoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AccountServiceEndPoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAccountEndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.11.207:8182/AccountService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.11.207:8182/AccountService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.11.207:8182/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
      <xsd:import schemaLocation="http://192.168.11.207:8182/AccountService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountEndPoint_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_VerifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccount" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_VerifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ResendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ResendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_SendVerificationCodeToChangeEmailOrPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeToChangeEmailOrPhone" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_SendVerificationCodeToChangeEmailOrPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeToChangeEmailOrPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangeEmailOrPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailOrPhone" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangeEmailOrPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailOrPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ConsultAccounProfileInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultAccounProfileInformation" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ConsultAccounProfileInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultAccounProfileInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_SendVerificationCodeToChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeToChangePassword" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_SendVerificationCodeToChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeToChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_NeedHelpProblemWithEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:NeedHelpProblemWithEmail" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_NeedHelpProblemWithEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:NeedHelpProblemWithEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_NeedHelpProblemWithPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:NeedHelpProblemWithPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_NeedHelpProblemWithPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:NeedHelpProblemWithPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangeForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IAccountEndPoint_ChangeForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountEndPoint">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/CreateAccount" message="tns:IAccountEndPoint_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/CreateAccountResponse" message="tns:IAccountEndPoint_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/VerifyAccount" message="tns:IAccountEndPoint_VerifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/VerifyAccountResponse" message="tns:IAccountEndPoint_VerifyAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/LogIn" message="tns:IAccountEndPoint_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/LogInResponse" message="tns:IAccountEndPoint_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/ResendVerificationCode" message="tns:IAccountEndPoint_ResendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/ResendVerificationCodeResponse" message="tns:IAccountEndPoint_ResendVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangePassword" message="tns:IAccountEndPoint_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangePasswordResponse" message="tns:IAccountEndPoint_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCodeToChangeEmailOrPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangeEmailOrPhone" message="tns:IAccountEndPoint_SendVerificationCodeToChangeEmailOrPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangeEmailOrPhoneResponse" message="tns:IAccountEndPoint_SendVerificationCodeToChangeEmailOrPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmailOrPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangeEmailOrPhone" message="tns:IAccountEndPoint_ChangeEmailOrPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangeEmailOrPhoneResponse" message="tns:IAccountEndPoint_ChangeEmailOrPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultAccounProfileInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/ConsultAccounProfileInformation" message="tns:IAccountEndPoint_ConsultAccounProfileInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/ConsultAccounProfileInformationResponse" message="tns:IAccountEndPoint_ConsultAccounProfileInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCodeToChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangePassword" message="tns:IAccountEndPoint_SendVerificationCodeToChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangePasswordResponse" message="tns:IAccountEndPoint_SendVerificationCodeToChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NeedHelpProblemWithEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithEmail" message="tns:IAccountEndPoint_NeedHelpProblemWithEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithEmailResponse" message="tns:IAccountEndPoint_NeedHelpProblemWithEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NeedHelpProblemWithPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithPassword" message="tns:IAccountEndPoint_NeedHelpProblemWithPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithPasswordResponse" message="tns:IAccountEndPoint_NeedHelpProblemWithPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangeForgotPassword" message="tns:IAccountEndPoint_ChangeForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountEndPoint/ChangeForgotPasswordResponse" message="tns:IAccountEndPoint_ChangeForgotPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAccountEndPoint" type="tns:IAccountEndPoint">
    <wsp:PolicyReference URI="#NetTcpBinding_IAccountEndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/CreateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/VerifyAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/ResendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCodeToChangeEmailOrPhone">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangeEmailOrPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmailOrPhone">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/ChangeEmailOrPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultAccounProfileInformation">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/ConsultAccounProfileInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVerificationCodeToChangePassword">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/SendVerificationCodeToChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedHelpProblemWithEmail">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedHelpProblemWithPassword">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/NeedHelpProblemWithPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeForgotPassword">
      <soap12:operation soapAction="http://tempuri.org/IAccountEndPoint/ChangeForgotPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceEndPoint">
    <wsdl:port name="NetTcpBinding_IAccountEndPoint" binding="tns:NetTcpBinding_IAccountEndPoint">
      <soap12:address location="net.tcp://192.168.11.207:8181/AccountService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.11.207:8181/AccountService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>