Connected Services/AccountService/AccountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.127:8181/AccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="newAccount" nillable="true" type="q1:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountRecord" nillable="true" type="q3:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="VerifyAccountResult" nillable="true" type="q4:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="accountRecord" nillable="true" type="q5:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="LogInResult" nillable="true" type="q6:OperationResultProfileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>