Connected Services/AccountService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.Account" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.HelperDtos" />
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.Account" minOccurs="0" name="newAccount" nillable="true" type="q1:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject.HelperDtos" minOccurs="0" name="CreateAccountResult" nillable="true" type="q2:OperationResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>