Connected Services/GuestAccountService/GuestAccountService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.11.207:8484/GuestAccountService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" />
  <xs:element name="CreateGuestAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preferredLanguage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGuestAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CatanService.DataTransferObject" minOccurs="0" name="CreateGuestAccountResult" nillable="true" type="q1:OperationResultGuestAccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>